.notFound {
	@include verticalCenter;
	height: 95vh;
	max-width: 1200px;
	background: rgb(17, 13, 14);
	background: linear-gradient(
		128deg,
		rgba(17, 13, 14, 1) 0%,
		rgba(103, 61, 77, 1) 45%,
		rgba(130, 82, 96, 1) 100%
	);
	border-radius: $borderRadius;
	text-align: center;

	h3 {
		margin-bottom: 3rem;
		font-size: 2rem;
	}
	a {
		padding: 1rem 2rem;
		border-radius: $borderRadius;
		background: $color-5;
		transition: 0.2s;

		&:hover {
			background: $color-4;
		}
	}
}
